includes:
    - %currentWorkingDirectory%/vendor/phpstan/phpstan-symfony/extension.neon
    - phpstan-baseline.neon
parameters:
    level: 5
    paths:
        - src
    bootstrapFiles:
        - phpstan-bootstrap.php
    excludePaths:
        - src/Command/DummyDataCommand.php
        - src/Command/ParallelizationAbstractCommand.php
    symfony:
        containerXmlPath: %currentWorkingDirectory%/var/cache/test/App_KernelTestDebugContainer.xml
        constantHassers: false
